@using Senparc.CO2NET
@using Senparc.CO2NET.Extensions
@model Senparc.Weixin.MP.AdvancedAPIs.User.UserInfoJson

<div class="box box-primary">
    <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="@Model.headimgurl" alt="头像">

        <h3 class="profile-username text-center">@Model.nickname</h3>

        <p class="text-muted text-center">OAuth 获取用户数据</p>

        <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                <b>性别</b> <a class="pull-right">@((Sex)Model.sex)</a>
            </li>
            <li class="list-group-item">
                <b>地址</b> <a class="pull-right">@Model.country @Model.province @Model.city</a>
            </li>
            <li class="list-group-item">
                <b>OpenId</b> <a class="pull-right">@Model.openid</a>
            </li>
            <li class="list-group-item">
                <b>是否关注</b> <a class="pull-right">@(Model.subscribe == 0 ? "未关注" : "已关注")</a>
            </li>
        </ul>
    </div>
    <!-- /.box-body -->
</div>
